<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="common-header">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
 <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />	

<!-- Website Font style -->
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" /> -->

<!-- Custom Index CSS -->
<link rel="stylesheet" type="text/css" href="/css/index.css">

<!--data table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>


<title>E-Banking</title>
</head>
<body>

	<!-- Navigation -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<h4>E-Bank</h4>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/userHome">Home <span
						class="sr-only">(current)</span></a>

					<div class="btn-group">
						<button type="button" class="btn">Accounts</button>
						<button type="button"
							class="btn  dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/account/primaryAccount}">Primary</a>
							<a class="dropdown-item" th:href="@{/account/savingsAccount}">Savings</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn ">Transfer</button>
						<button type="button"
							class="btn dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/transfer/betweenAccounts}">Between Accounts</a> 
								<a class="dropdown-item" th:href="@{/transfer/toSomeoneElse}">To Someone Else</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/transfer/recipient}">Add/Edit
								Recipient</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn">Appointment</button>
						<button type="button"
							class="btn  dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/appointment/create}">Schedule an Appointment</a>
						</div>
					</div>
					<div class="btn-group pull-right">
						<button type="button" class="btn">Me</button>
						<button type="button"
							class="btn  dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/user/profile}"><span class="fas fa-user-circle"></span>Profile</a>
							<a class="dropdown-item" th:href="@{/logout}">Logout</a>
						</div>
					</div>
				</div>
			</div>	
		</nav>
	</div>

	<div th:fragment="body-bottom-scripts">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<!-- Data Table js -->	
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
		
	</div>
</body>
</html>