<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header ::common-header"/>
<!-- Login Section -->
<body class="content">
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-6 col-md-3">
			<div class="form-container">
			<div class="alert alert-danger" role="alert" th:if="${param.error}">
               Invalid username and secret.
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.logout}">
               You have been logged out.
            </div>
			<h3>Please sign in</h3>	
			<form class="form-signin" th:action="@{/index}" method="post">
  				<div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text"  class="form-control" placeholder="Username" name="username"id="username" autofocus="autofocus" required="required"/>
                </div>

  				<div class="form-group">
   		 			<label for="password" class="sr-only">Password</label>
   					<input type="password"  class="form-control" placeholder="Password" id="password" name="password" required="required"/>
  				</div>

  				<div class="form-group form-check">
    				<input type="checkbox" class="form-check-input" id="remember-me">
    				<label class="form-check-label" for="exampleCheck1">Remember me</label>
  				</div>

  				<button type="submit" class="btn btn-primary btn-block">Sign in
  				</button>
  				<hr>
			</form>
			<div class="form-group ">
                    <a type="submit" class="btn btn-info btn-block" th:href="@{/signup}">Sign up!</a>
                </div>
			</div>
		</div>
	</div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>